# Database
DATABASE_URL="mysql://inventory_user:your_password@localhost:3306/inventory_db"

# NextAuth
AUTH_SECRET="generate-dengan-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true
